/*image ratio styles */
/*ratio padding formula = (heigth/width)*100 */
.container16by9{
    position: absolute;
    height: 0;
    padding-bottom: 56.25%;
    margin:auto;
}
.image16by9{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}

.containerMainCarousel{
    position: absolute;
    height: 0;
    padding-bottom: 31.7628374801%;
    margin:auto;
}
.imgMainCarousel{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}
.generic-centered{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}

.space-top{
    padding-top: 2.5%;
}

.no-padding-content-block{
    padding:0;
    width:100%;
}
