.container-contacto{
    padding-right: 0px; !important
    padding-left: 0px;  !important
}

.col-xs-12-contacto{
    padding: 0px; !important
}

.img-perfil{
    horizontal-align: middle;
    max-width: 250px; !important
    max-height: 250px; !important
}

.btn-personal{
    margin-top: 20px;
    margin-bottom: 20px;
}
